.paper {
  margin-top: 20px;
  padding: 24px;
}

.text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.root {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.gridList {
  flex-wrap: nowrap !important;
  transform: translateZ(0);
}

.link {
  text-decoration: none;
  color: black;
}

.postProfilePic {
  max-width: 100px;
  max-height: 100px;
  display: block;
}
