.content {
  margin-top: 35px;
}

.link {
  text-decoration: none;
}

.badgeImage {
  max-width: 90%;
  max-height: 90%;
  display: block;
  margin: 0 auto;
  padding-top: 10%;
}

.media {
  height: 300px;
}

.breadcrumb {
  text-decoration: none;
  color: black;
}

.breadcrumb:hover {
  text-decoration: underline;
}
