.logo {
  width: 350px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.login {
  margin-left: 30px;
}

.form {
  width: 50%;
  margin-top: 8px;
}

.submit {
  margin-top: 25px !important;
  margin-bottom: 20px !important;
}
